.reviewItem {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}

.review {
  padding: 10px 0;
}
.reviewTitle{
  text-align: center;
  font-size: 20px;
  color: #888383;
}
.reviews{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}