.tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 30px 0;
  padding-top: 20px;

  .tab {
    padding: 20px;
    background-color: #232323;
    color: #ffffff;
    border-left: 1px solid white;

    &:hover {
      background-color: #888383;
      transition: color 0.3s;
    }

    &:disabled {
      background-color: #888383;
      transition: color 0.3s;
    }
  }
}



