.countryItem {
  padding-top: 20px;

  .countryItemInfo {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .countryItemTitle {
    font-weight: bolder;

  }

  img {
    padding: 0;
  }
}







