.footer {
  background-color: rgb(45, 45, 45);
  margin-top: auto;

  p {
    color: white;
    font-size: 14px;

  }

  h6 {
    color: white;
    margin-bottom: 0;
  }

  .contacts {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888383;

    .footer_item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  img {
    margin-right: 10px;

  }

}

